<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>

 <form method="POST" action="/team">
     <!-- <p>Team Name: <input type="text" name="name" placeholder="name"></p>
     <p>Coach: <input type="text" name="coach" placeholder="coach"></p>
     <p>Point Guard: <input type="text" name="pg" placeholder="point-guard"></p>
     <p>Shooting Guard: <input type="text" name="sg" placeholder="shooting-guard"></p>
     <p>Small Forward:<input type="text" name="sf" placeholder="Small-Forward"></p>
     <p>Power Forward <input type="text" name="pf" placeholder="power-forward"></p>
     <p>Center <input type="text" name="c" placeholder="center"></p>
     <input type="submit" id="submit"> -->

     <label>Team Name: <input type="text" name="name" /></label><br/>
<label>Coach: <input type="text" name="coach" /></label><br/>
<label>Point Guard: <input type="text" name="pg" /></label><br/>
<label>Shooting Guard: <input type="text" name="sg" /></label><br/>
<label>Power Forward: <input type="text" name="pf" /></label><br/>
<label>Small Forward: <input type="text" name="sf" /></label><br/>
<label>Center: <input type="text" name="c" /></label><br/><br/>
<input type="submit" id="Submit" />
   </form>
 <body>
 </body>
</html>
